  <!-- Begin: canvas/_includes/objective.html -->
  {% if page.objective %}
    <div id="objective"
      {% if page.objective-font-color or page.objective-bg-color %}
         style="
          {% if page.objective-font-color %}color={{ page.objective-font-color }};{% endif %}
          {% if page.objective-bg-color %}background-color={{ page.objective-bg-color }};{% endif %}
         "
      {% endif %}
    >
      <p><strong>

        {{ page.objective }}

        </strong></p>
    </div>
  {% endif %}
  <!-- End: canvas/_includes/objective.html -->
