  <!-- Begin: canvas/_includes/outcome.html -->
  {% if page.outcome or site.data.assignment.outcome %}
    {% if page.outcome %}
      {% capture outcome %}{{page.outcome}}{% endcapture %}
    {% else %}
      {% capture outcome %}{{site.data.assignment.outcome}}{% endcapture %}
    {% endif %}
    <div id="outcome"
      {% if page.outcome-font-color or page.outcome-bg-color %}
         style="
          {% if page.outcome-font-color %}color: {{ page.outcome-font-color }};{% endif %}
          {% if page.outcome-bg-color %}background-color: {{ page.outcome-bg-color }};{% endif %}
         "
      {% endif %}
    >
      <p class="outcome">

        Outcome: {{ outcome }}

      </p>
    </div>
  {% endif %}
  <!-- End: canvas/_includes/outcome.html -->
