<!-- Begin: canvas/_includes/policies.html -->

<h4>Academic Integrity</h4>

<p>You will learn best doing your own work. When creating project is Unity or coding in C#, it’s ok to show a peer how to do something, but don’t do it for them. The same principles apply to design work; advice/suggestions/feedback are encouraged, but don’t do the work for them. In software development we often reuse code and build on the work of others - this in normal, even expected, behavior - <b>but, when you do this you must cite the work you are incorporating.</b></p>
  
<p>Academic dishonesty, whether it be plagiarizing, copying, etc., will be referred to the class administrator for the first offense and will result in the loss of credit for the assignment.  Parents will be notified.  A second offence will result in <b>automatic failure of the class.</p>

<!-- End: canvas/_includes/policies.html   -->
