<!-- Begin: canvas/_includes/submission-boilerplate.html -->

<details class="submission-boilerplate">
  <summary>
    Working With Google Docs And Canvas
  </summary>
  
  <details>
    <summary>Making an editable copy of a **View Only** Google Doc</summary>
    
    <ol>
      <li>File > Make a copy</li>
      <li>Give the new file a meaningful name.</li>
      <li>Organize the new file to an appropriate folder</li>
    </ol>
    
  </details>
  
  <details>
    <summary>Linking to another Google document</summary>
    
    <p>In the document you want to share:
      <ol>
        <li>Click on the blue **Share** button in the upper right corner of the document you want to link to.</li>
        <li>In the <strong>Share with others</strong> dialog, click on the green <strong>Get sharable link</strong> button in the upper right corner of the dialog.</li>
        <li>Select the <strong>Anyone at South Kitsap School District can comment</strong> option</li>
        <li>Copy the link.</li>
      </ol>
    </p>
  
    <p>In the document where you want the link:
      <ol>
        <li>Click in the location where you want the link.</li>
        <li>Paste the link.</li>
        <li>Type a <strong>space</strong> or press <strong>Enter</strong> so that the link is recognized and made active – it will turn blue.</li>
      </ol>
    </p>       
  
  </details>
  
  <details>
    <summary>Submitting Google Docs through Canvas</summary>
    
  </details>  
</details>
<!-- End: canvas/_includes/submission-boilerplate.html -->
