<!-- Begin: canvas/_includes/submission-boilerplate.html -->

<details class="submission-boilerplate">
  <summary>
    Google Docs Submission Help
  </summary>
  
  <details>
    <summary>Making an editable copy of a submission template</summary>
    
  </details>
  
  <details>
    <summary>Linking to another document</summary>
  
  </details>
  
  <details>
    <summary>Submitting Google Docs through Canvas</summary>
    
  </details>  
</details>
<!-- End: canvas/_includes/submission-boilerplate.html -->
