<!-- Begin: canvas/_includes/submission-boilerplate.html -->

<details class="submission-boilerplate">
  <summary>
    Google Docs Submission Help
  </summary>
  
  <details>
    <summary>Making an editable copy of a **View Only** Google Doc</summary>
    
    <ol>
      <li>File > Make a copy</li>
      <li>Give the new file a meaningful name.</li>
      <li>Organize the new file to an appropriate folder</li>
    </ol>
    
  </details>
  
  <details>
    <summary>Linking to another document</summary>
  
  </details>
  
  <details>
    <summary>Submitting Google Docs through Canvas</summary>
    
  </details>  
</details>
<!-- End: canvas/_includes/submission-boilerplate.html -->
