<!-- Begin: canvas/_includes/tabs.html -->

<!--
 The set of tabs created is defined in the site (not theme) file _data/tags.yml.
 If you tabs are not displaying, check that the file exists.
 -->

<nav>
  {% for tab in site.data.tabs %}
    {% capture tab_url %}{{page.dir}}{{tab.link}}{% endcapture %}
    <!-- page.url: '{{ page.url }}' tab_url: '{{ tab_url }}' -->
    <a href="{{ tab.link }}" target="_self"
      {% if page.url == tab_url or page.url == / and tab_url == /index.html %}
        class="selected"
      {% endif %}
    >
      {{ tab.name }}
    </a>
  {% endfor %}
  <hr>
</nav>

<!-- End: canvas/_includes/tabs.html -->
