nav a {
  display: inline-block;
  text-decoration: none;
  padding: 14px 25px;
}

nav a:link, nav a:visited {
  color: black;
  background-color: lightgray;
}

nav a:hover, nav a:active {
  color: white;
  background-color: gray;
}

nav a.selected {
  color: white;
  background-color: black;
}

nav hr {
  border-top: 3px solid;
  padding: 0;
  margin: 0;
}
