/* typography.scss */

html, body {
  color: rgb(45, 59, 69);
  font-family: LatoWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

a {
  color: rgb(0, 115, 167);
  cursor: auto;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

h1, h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 43px;
  margin: 6px 0px 6px 0px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  margin: 24px 0px 24px 0px;
}

p {
  /* font-size: 16px; */
  line-height: 24px;
  margin: 12px 0px 12px 0px;
}

ol {
  list-style-type: decimal;
  margin: 0px 0px 6px 25px;
}

ol li {
  line-height: 24px;
  text-align: left;
}

ul {
  list-style-type: disc;
  margin: 0px 0px 6px 25px;
}

ul li {
  line-height: 24px;
  text-align: left;
}

// Lists in assignment tabs
dl, ol, ul {
  &.assignment {
    margin: 0px 0px 6px 0px;
  }
}
