{% include head.html %}

<main>
  <p><strong>If clicking on a link takes you to an empty page, try control-clicking on it instead.
    This will cause the page to open it a new tab.</strong></p>
  {{ content }}
</main>

<footer>
  <p>This course in open source.
  <a href="{{ site.github.repository_url }}">
    <small>Help improve this page.</small>
  </a>
   .</p>
</footer>

{% if site.checkbox_on_summaries == true %}
<script>
  var summaries = document.getElementsByTagName("SUMMARY");

  for (i = 0; i < summaries.length; i++) {
    var span = document.createElement("SPAN");
    span.className = "floats-right";

    var cb = document.createElement("INPUT");
    cb.className = "done";
    cb.type = "checkbox";
    cb.id = cb.name = "summary-" + i;

    span.appendChild(cb);
    summaries[i].appendChild(span);
  }
</script>
{% endif %}

{% include foot.html %}
