<div style="color: #ffffff; background-color: #663399; padding: 0.75em; margin-bottom: 0.5em;">
<p><strong style="color: #ffffff;">Outcome: At the end of this assignment you will have...</strong></p>
</div>

<div class="enhanceable_content tabs">
  <ul>
    <li><a style="text-decoration: none;" href="#overview">Overview</a></li>
    <li><a style="text-decoration: none;" href="#learning-targets">Learning Targets</a></li>
    <li><a style="text-decoration: none;" href="#instructions">Instructions</a></li>
    <li><a style="text-decoration: none;" href="#submission">Submission</a></li>
    <li><a style="text-decoration: none;" href="#resources">Resources</a></li>
  </ul>
  
  <div id="overview">
    <h3>Overview</h3>
    <hr style="border-color: #663399; border-width: 8px; width: 100%; margin-top: 0px; padding: 0px;" /></div>
  
  <div id="learning-targets">
    <h3>Learning Targets</h3>
    <hr style="border-color: #663399; border-width: 8px; width: 100%; margin-top: 0px; padding: 0px;" /></div>
  
  <div id="instructions">
    <h3>Instructions:</h3>
    <hr style="border-color: #663399; border-width: 8px; width: 100%; margin-top: 0px; padding: 0px;" /></div>
  
  <div id="submission">
    <h3>Submission</h3>
    <p>I would like to see how far you got, please submit a screen capture showing the full Unity Editor window.</p>
    <div class="content-box pad-box-mini border border-round" style="background-color: #f2f2f2; border: thick solid #800;">
    <ol>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
    </ol>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div id="resources">
    <h3>Resources</h3>
    <hr style="border-color: #663399; border-width: 8px; width: 100%; margin-top: 0px; padding: 0px;" /></div>
</div>
